<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dharma-a</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Callback</display-name>
    <servlet-name>Callback</servlet-name>
    <servlet-class>com.neodem.dharma.servlet.Callback</servlet-class>
    <init-param>
      <description></description>
      <param-name>API_KEY</param-name>
      <param-value>6d67ef19ec13db329c45f06f12e81f8e</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>SECRET_KEY</param-name>
      <param-value>f9c4c9793f396df215e462876c3bb225</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Callback</servlet-name>
    <url-pattern>/Callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Canvas</display-name>
    <servlet-name>Canvas</servlet-name>
    <servlet-class>com.neodem.dharma.servlet.Canvas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Canvas</servlet-name>
    <url-pattern>/Canvas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostAdd</display-name>
    <servlet-name>PostAdd</servlet-name>
    <servlet-class>com.neodem.dharma.servlet.PostAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAdd</servlet-name>
    <url-pattern>/PostAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostRemove</display-name>
    <servlet-name>PostRemove</servlet-name>
    <servlet-class>com.neodem.dharma.servlet.PostRemove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostRemove</servlet-name>
    <url-pattern>/PostRemove</url-pattern>
  </servlet-mapping>
</web-app>